In [30]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv('../36361-0001-Data.tsv', sep='\t')

In [33]:
df.head()

,CASEID,QUESTID2,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,II2EMST4,PRXRETRY,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,GQTYPE2
0,1,85314767,1,99,99,16,9999,99,4,93,...,1,99,2,2,2,2,8587.828634,40025,2,-9
1,2,16240983,1,99,99,16,9999,99,1,1,...,1,99,1,1,2,2,4260.686570,40041,1,-9
2,3,95206287,2,99,99,991,9991,91,91,91,...,1,99,2,2,2,2,874.478772,40010,1,-9
3,4,91546127,2,99,99,991,9991,91,91,91,...,1,99,1,1,2,2,4816.381147,40019,2,-9
4,5,43902390,2,99,99,991,9991,91,91,91,...,1,99,1,1,2,2,18967.391778,40016,2,-9